.button {
    margin-left: 10px;
    width: 100px;
    height: 30px;


    border-radius: 20px;
    border: 1px solid skyblue;
    background-color: white;
    color: skyblue;
}

.button:hover {
    border: 1px solid white;
    background-color: skyblue;
    color: white;
}